.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
  }
  
  .modal {
    position: fixed;
    top: 5vh;
    left: 10%;
    width: 80%;
    z-index: 100;
    overflow: auto;


    /* From https://css.glass */
    /* From https://css.glass */
    background: rgba(21, 21, 49, 0.686);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.2px);
    -webkit-backdrop-filter: blur(12.2px);
    border: 1px solid rgba(47, 49, 113, 0.22);
  }

  .profile__label{
    color: white;
  }